@inherits LayoutComponentBase


<div class="header">
    <div class="banner">
        Ged Moretta
    </div>
    <div class="title">
        <ul>
            <li><NavLink href="">Home</NavLink></li>
            <li><NavLink href="timeline">Timeline</NavLink></li>
            <li>Achievements</li>
            <li>Contact</li>
        </ul>
    </div>
</div>

@Body