@page "/"

<div class="bg-img-1 parallax"></div>

<div class="text">
    <h3>Introduction</h3>
    <p>
        I am a highly motivated and professional developer with many years experience in software development across a number of languages, including C#, C++ and Javascript.
        I am passionate about writing SOLID, testable code and enabling others to do the same.
    </p>
</div>

<div class="bg-img-2 parallax"></div>

<div class="text">
    <h3>Passions</h3>
    <p>
        I am passionate about writing testable code. If you aren't writing testable code in the modern languages then I want to help you change.
        The tools available to today's developers mean testing your code and keeping the feedback loop small is easier than ever. But it can still be difficult to write code in a way to make it testable as most developers (and their managers) just want to write code that works, with only lip service to the technical debt that builds up.
    </p>
</div>

<div class="bg-img-3 parallax"></div>

<div class="text">
    <h3>Skills</h3>
    <h5>Languages</h5>
    <p>C#, SQL, Azure, C/C++, ASP.NET, .NET Core, Typescript, Angular, React, Razor, Blazor, Docker</p>
    <h5>Soft Skills</h5>
    <p>Agile (Scrum, Kanban), Mentoring, Coaching</p>
</div>
