@page "/timeline"

    <div class="timeline">
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                </div>

                <div class="cd-timeline-content">
                    <h2>FIIG</h2>
                    <h5>Brisbane, QLD</h5>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            Full Stack Developer (Contract)
                        </span>
                    </div>
                    <p>
                        Developing a microservice architecture to replace an MS Access database. Multi-layer API/Gateway architecture with a React frontend.
                        API integration with multiple third party vendors.
                    </p>
                    <ul class="content-skills">
                        <li>C#</li>
                        <li>.NET Core</li>
                        <li>React</li>
                        <li>SQL Server</li>
                        <li>Microservices</li>
                        <li>Octopus Deploy</li>
                        <li>Jenkins CI/CD</li>
                        <li>JIRA</li>
                    </ul>
                    <span class="cd-date">Oct 2019 - Present</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                </div>

                <div class="cd-timeline-content">
                    <h2>Liquid Interactive</h2>
                    <h5>Brisbane, QLD</h5>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            Full Stack Developer (Contract)
                        </span>
                    </div>
                    <p>Developing a marketing and CRM system for a customer on the Gold Coast.</p>
                    <ul class="content-skills">
                        <li>C#</li>
                        <li>.NET Core</li>
                        <li>Azure</li>
                        <li>SQL Server</li>
                        <li>Microservices</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                    <span class="cd-date">Aug 2019 - Sept 2019</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                </div>

                <div class="cd-timeline-content">
                    <h2>Mann Island Finance</h2>
                    <h5>Liverpool, UK</h5>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            C# Developer (Contract)
                        </span>
                    </div>
                    <p>Developing a marketing and CRM system for a customer on the Gold Coast.</p>
                    <ul class="content-skills">
                        <li>C#</li>
                        <li>Mentoring</li>
                        <li>Azure</li>
                        <li>Microservices</li>
                        <li>ASP.NET</li>
                    </ul>
                    <span class="cd-date">Feb 2019 - July 2019</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>Ivanti Ltd (formerly AppSense)</h2>
                    <h5>Warrington, UK</h5>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            Senior Developer
                        </span>
                    </div>
                    <p>Technology disrupter, PITA</p>
                    <ul class="content-skills">
                        <li>C#</li>
                        <li>C/C++ 11/14</li>
                        <li>SQL Server</li>
                        <li>Azure</li>
                        <li>Microservices</li>
                        <li>Angular 2/4</li>
                    </ul>
                    <span class="cd-date">Oct 2006 - Jan 2019</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                </div>

                <div class="cd-timeline-content">
                    <h2>Horserace Totalisator Board ('The Tote')</h2>
                    <h5>Wigan, UK</h5>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            Software Engineer
                        </span>
                    </div>
                    <p>C++/Web developer</p>
                    <ul class="content-skills">
                        <li>C#</li>
                        <li>C++</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                    </ul>
                    <span class="cd-date">Jan 2005 - Oct 2006</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img">
                </div>

                <div class="cd-timeline-content">
                    <h2>Marconi Interactive Systems</h2>
                    <div class="timeline-content-info">
                        <span class="timeline-content-info-title">
                            Software Engineer
                        </span>
                    </div>
                    <p>
                        Powerbuilder, C++ Developer.
                        Developed and maintained phone management system.
                    </p>
                    <ul class="content-skills">
                        <li>Powerbuilder</li>
                        <li>C++</li>
                        <li>SQL Server</li>
                    </ul>
                    <span class="cd-date">Oct 1998 - Jan 2005</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
    </div>